h1.heading{
    
    text-align: center;
}

table.one{
    
    border-collapse: collapse;
    margin: 0 auto;
}

table.two{
    
    border-collapse: separate;
    margin: 0 auto;
}

td.a{
    
    border-style: dashed;
    border-width: 3px;
    border-color: #000;
    padding: 12px;
}

td.b{
    border-style: dotted;
    border-width: 3px;
    border-color: red;
    padding: 12px;
}

table.one, table.two{
    
    border-spacing: 10px;15px;
}