body{
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
#main{
	background-color: red;
	max-width: 70%;
	max-height: 90%
	border:1px solid;
	margin: 0 auto;
	background-color: rgba(77,88,100,.6);


}
.inner-main{
	width: 80%;
	height: 100%;
	text-align: center;
	margin: 0 auto;
	border: 3px solid red;
}
.inner-main h1{
	font-size: 70px;
}